NODE_ENV=production
PORT=3001
FRONTEND_URL=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io
FOOTBALL_API_KEY=
FOOTBALL_PROVIDER=api-football
MANCHESTER_UNITED_EXTERNAL_ID=
FOOTBALL_CURRENT_SEASON=
FOOTBALL_INCLUDE_FRIENDLIES=false
FOOTBALL_ALLOWED_COMPETITIONS=Premier League,UEFA Champions League,UEFA Europa League,FA Cup,EFL Cup,League Cup
CRON_SYNC_SECRET=
